* {
    box-sizing: border-box;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("img/bg-1.jpg");

}
.nav1{
    color:white;
}

.nav1:hover{
color: #f9bd00;
}
.nav1-bg{
    background-color: #1f1f1f;
    opacity: 0.9;
    padding-top: 20px;
    padding-bottom: 20px;
}
.icon-btn{
    color:white;
}
.main{
    background-image: url("img/bg-1.jpg");
    
}
.cards{
opacity: 1;
}
.b-yellow{
    border:2px;
    background-color: #f9bd00;
    width: 210px;
    color: black;
    font-weight: 600;
    
}
.main2{
    background-color: #1d1d1d;
}
.card-y{
    border-style: dashed;
    border-color:#f9bd00;
    border-width:1px;
    
    
}
.img{
    width:100px
}
.btn1{
border: 2px solid #f1ffff;
color: #f1ffff;
border-radius:20px 20px 20px 20px;
padding: 10px;
font-size: larger;
font-weight: bold;

}
.btn1:hover{
    background-color: #f1ffff;
    color:black;
}
.btn-yellow{
    border: 2px solid #f9bd00;;
        color: #f9bd00;
        border-radius: 30px 30px 30px 30px;
        padding: 10px;
        font-size: larger;
        font-weight: bold;
}
.btn-yellow:hover{
    background-color: #f9bd00;
    color: #f1ffff;
}
.header-yellow{
    color: #f9bd00;
}
.btn-play{
           background-color: #f9bd00;
           height: 70px;
           width: 70px;
            display: flex;
                justify-content: center;
                align-items: center;
        
}
.btn-play2{
    border:2px solid white ;
    background-color: #f9bd00;
    height: 50px;
    width: 50px;
   
}
.comment{
    background-color: #222222;
    width: 360px;
    margin-right: 30px;
    padding: 40px 33px 19px 33px;
    position: relative;
    text-align: center;
    margin:auto;
    
}
.slayt{
        background-repeat: no-repeat;
        background-image: url(img/slayt-1.jpg);
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        opacity: 1;
        visibility: inherit;
        z-index: 20;
}
.s1{
    padding-bottom: 15%;
    padding-top: 15%;
}
.h-yellow{
color:#f9bd00
}